@font-face {
    font-family : 'RixSinGoRegular';
    font-style  : normal;
    src         : url('~@/assets/fonts/RixSinGoRegular.woff2') format('woff2')
}

@font-face {
    font-family : 'RixSinGoExtraBold';
    font-style  : normal;
    src         : url('~@/assets/fonts/RixSinGoExtraBold.woff2') format('woff2')
}

@font-face {
    font-family : 'Casual-Regular';
    font-style  : normal;
    src         : url('~@/assets/fonts/Casual-Regular.woff2') format('woff2')
}

@font-face {
    font-family : 'NanumBarunGothic-YetHangul';
    font-style  : normal;
    src         : url('~@/assets/fonts/NanumBarunGothic-YetHangul.woff2') format('woff2')
}

