.about {
  max-width: 1280pxx;
  margin-top: 400px;
  padding: 0 49px;
  display: flex;
  justify-content: center;
}
.about-title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}