.about {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.about-row {
  display: flex;
  height: 100vh;
  align-items: center;
}

.about-title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.about-box {
  position: relative;
  width: 526px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid red;
  a  {
    display: inline-block;
  }
}

.about-img {
  width: 100%;
}

.information {
  width: 100%;
  position: absolute;
  display: flex;
  bottom: 20vh;
  justify-content: center;
}