.about {
  max-width: 1280pxx;
  margin-top: 400px;
  padding: 0 49px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.about-title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.about-box {
  position: relative;
  width: 520px;
  height:400px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid red;
  a  {
    display: inline-block;
  }
}

.about-img {
  width: 100%;
}