.project {
  height: 100%;

  .wrap {
    flex-wrap: wrap;
  }
}

.project-title {
  width: 100%;
  font-weight: bold;
  font-size: 24px;
}

.project-sub-title {
  flex: 1;
}

.motion-div {
  background-color: #fff;
}

.project-container {
  flex: 1;
  width: 100%;
  max-width: 1280px;
  height: 50vh;
  margin: 300px auto 0;
  visibility: hidden;
}

.img-container {
  width: 100%;
  height: 100%;
  max-width: 485px;
  position:relative;
  overflow: hidden;
  margin: 0 auto;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    max-width: 485px;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #fff;
  }

  img {
    position: absolute;
    display: block;
    max-width: 1280px;
  }
}

.test {
  height: 50vh
}