.project {
  height: 100%;

  .wrap {
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100%;
    margin: 400px 0;
    padding: 0;
  }
}

.project-title {
  width: 100%;
  font-weight: bold;
  font-size: 3em;
}

.project-sub-title {
  flex: 1;
  margin-top: 80px;
}

.motion-div {
  background-color: #e9dbd4;
}

.motion-div2 {
  background-color: #fff;
}

.project-container {
  flex: 1;
  width: 100%;
  // max-width: 1280px;
  height: 50vh;
  margin: 100px auto 0;
  visibility: hidden;
}

.img-container {
  width: 100%;
  height: 500px;
  max-width: 485px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    max-width: 485px;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #e9dbd4;
  }

  img {
    position: absolute;
    display: block;
    width: 100%;
    max-width: 1280px;
  }
}

.test {
  height: 50vh
}

.project-letter-space {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  padding: 20vh 24px;
  background-color: #efefef;
  text-align: center;

  .letter1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    opacity: 0;
    transform: translateY(20px);
    font-size: 2em;
    transition: 1s;
    &.active {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .letter2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    opacity: 0;
    transform: translateY(20px);
    transition: 1s;
    &.active {
      opacity: 1;
      transform: translateY(0);
    }
  }
}