/* page load anumation*/
body{
  font-size: 20px;
}

.main-once {
  opacity: 0;
}

.main-once-active {
  transition: opacity 1s linear;
}

.main-once-to {
  opacity: 1;
}

/* page slide anumation*/

.fade-leave {
  opacity: 1;
}

.fade-leave-active {
  transition: opacity 2s linear;
}

.fade-leave-to {
  opacity: 0;
}


.fade-enter {
  opacity: 0;
}

.fade-ente-active {
  transition: opacity 2s linear;
}

.fade-ente-to {
  opacity: 1;
}