/* page load anumation*/
body{
  font-size: 20px;
  --page-background: #fff;
  background-color: var(--page-background);
}

.height100 {
  height: 100vh;

  &.is-home {
    background-color: aqua;
  }
  &.is-contact {
    background-color: pink;
  }
}

.main-once {
  opacity: 0;
}

.main-once-active {
  transition: opacity 1s linear;
}

.main-once-to {
  opacity: 1;
}

/* how to leave */
.fade-leave {
  opacity: 1;
}

.fade-leave-active {
  transition: opacity 1s linear;
}

.fade-leave-to {
  opacity: 0;
}

/* how to enter */
.fade-enter {
  opacity: 0;
}

.fade-ente-active {
  transition: opacity 1s linear;
}

.fade-ente-to {
  opacity: 1;
}