html, body {
  min-height: 100%;
  height: auto;
}
/* page load anumation*/
body{
  font-size: 20px;
  --page-background: #fff;
  background-color: var(--page-background);
}

/* barba test */

.height100 {
  height: 100vh;

  &.is-home {
    background-color: #fff;
  }
  &.is-contact {
    background-color: pink;
  }
  &.is-clip {
    width: 100%;
    background-color: #161636;
    color: #fff;
    a {
      color: #fff;
    }
  }
}

.main-once {
  opacity: 0;
}

.main-once-active {
  transition: opacity 1s linear;
}

.main-once-to {
  opacity: 1;
}

/* how to leave */
.fade-leave {
  opacity: 1;
}

.fade-leave-active {
  transition: opacity 1s linear;
}

.fade-leave-to {
  opacity: 0;
}

/* how to enter */
.fade-enter {
  opacity: 0;
}

.fade-ente-active {
  transition: opacity 1s linear;
}

.fade-ente-to {
  opacity: 1;
}

/* how to leave */
.fade-leave {
  opacity: 1;
}

.fade-leave-active {
  transition: opacity 1s linear;
}

.fade-leave-to {
  opacity: 0;
}

/* clip transition */
.clip-leave {
  opacity: 1;;
}

.clip-leave-active {
  transition: all 0.75s linear;
}

.clip-leave-to {
  opacity: 0;
}

.clip-enter {
  clip-path: circle(0%);
}

.clip-enter-active {
  transition: all 0.75s linear;
  position: absolute;
  top: 0;
  z-index: 2;
}

.clip-enter-to {
  clip-path: circle(75%);
}

/*Transition cover*/
.with-cover-leave-active,
.with-cover-enter-active,
.with-cover-leave-active .transition,
.with-cover-enter-active .transition {
  transition: all 10s;
}
/*cover in*/
.with-cover-leave .transition {
  transform: translateY(-100%);
}

.with-cover-leave-to .transition {
  transform: translateY(0);
}
/*cover down*/
.with-cover-enter .transition {
  transform: translateY(0);
}
.with-cover-enter-to .transition {
  transform: translateY(100%);
}


/* logo animation test */
nav {
  display: none;
}

.mainLetter {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &-inner {
    position: relative;
    overflow: hidden;
  }

  &-0,
  &-1 {
    span {
      display: inline-block;
      font-size: 15vw;
      line-height: 0.87;
      font-weight: bold;
      color: #eee;
      transition-timing-function: ease-out;
    }
  }

  &-0 {
    position: absolute;
    top: 0;
    left: 5vw;
    overflow: hidden;
    .ani-logo {
      position: fixed;
      width: 140px;
      height: 140px;
      background-color: #eee;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 20% ;
      transform-origin: bottom left;
    }

  }

  &-1 {

  }
}


canvas {
	display: block;
	position: fixed;
	z-index: -1; // put it to background
	left: 0; // position it to fill the whole screen
	top: 0; // position it to fill the whole screen
}

#ripple-canvas {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  z-index: 10;
}

#flowmap {
  width: 100%;
  height: 100vh;
}
#flowmap img {
  display: none;
}

.loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.9);

  &-top {
    position: relative;
    width: 100vw;
    height: 11.4vw;
    // margin-top: -2px;
    // margin-bottom: -2px;
    background-image: url("https://assets.website-files.com/6148d60a98a3dba79b2d6a81/6148d60a98a3dbd2682d6b06_menu-bottom-blackish.svg");
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transform: perspective(1000px);
    transform: perspective(1000px);
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    transform:translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(150deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)
  }
}


html.is-animating .transition-fade {
  opacity: 0;
  transform: translateY(100%);

}

.transition-fade {
  transition: transform 2s;
  transform: translateY(0);
  opacity: 1;
  border: 1px solid red;
}


html.is-animating .transition-fade  .loader {
  transform: translateY(0);
  z-index: 2;

  &-top {
    transform:rotateX(150deg);
    transition: 1s ease-in;
  }
}

.transition-fade .loader {
  transform: translateY(-100%);
  transition: 1s ease-in;

  &-top {
    transform:rotateX(0);
    transition: 1s ease-in;
  }
}

.data-lenis-prevent {
  overscroll-behavior: contain;
}

.height-500 {
  margin: 300px 0;
  height: 500px;
  width: 100%;
  border: 1px solid royalblue;
}

.content__bg {
  width: 100%;
  height: 100vh;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-items: center;
  display: grid;
  position: relative
}

.content__bg--bottom {
  background-position: 50% 100%
}

.separator {
  z-index: 1000;
  pointer-events: none;
  width: 100%;
  height: 150px;
  fill: #e3e0d8;
  display: block;
  position: absolute
}

.separator--up {
  top: -1px;
}


