// ??
// NotoSansKR
@font-face {
  font-family: 'Noto Sans KR';
  src: url('/src/fonts/NotoSansKR-Regular.woff') format('woff'),
    url('/src/fonts/NotoSansKR-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: url('/src/fonts/NotoSansKR-Medium.woff') format('woff'),
    url('/src/fonts/NotoSansKR-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: url('/src/fonts/NotoSansKR-Bold.woff') format('woff'),
    url('/src/fonts/NotoSansKR-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// Muli
@font-face {
  font-family: 'Muli';
  src: url('/src/fonts/Muli-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('/src/fonts/Muli-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('/src/fonts/Muli-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// Cormorant Garamond
@font-face {
  font-family: 'CormorantGaramond';
  src: url('/src/fonts/CormorantGaramond-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('/src/fonts/CormorantGaramond-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('/src/fonts/CormorantGaramond-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('/src/fonts/CormorantGaramond-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// SpoqaHanSansNeo
@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url('/src/fonts/SpoqaHanSansNeo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// ITCAvantGardeStd
@font-face {
  font-family: 'ITCAvantGardeStd-Md';
  src: url('/src/fonts/ITCAvantGardeStd-Md.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCAvantGardeStd-Bold';
  src: url('/src/fonts/ITCAvantGardeStd-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCAvantGardeStd-Bk';
  src: url('/src/fonts/ITCAvantGardeStd-Bk.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

// Montserrat
@font-face {
  font-family: 'Montserrat';
  src: url('/src/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
