.main-cloud {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8eb0d6;
  z-index: -1;
  &::before {
    content: '';
    display: block;
    width: 300%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../Assets/cloud-bg.png) no-repeat 50% 50%;
    background-size: cover;
    animation: cloudBg 400s infinite;
    opacity: 0.6;
  }
}

@keyframes cloudBg {
  0%{
    transform: translateX(0)
  }
  to {
    transform: translateX(-100%)
  }
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 50vh;
  margin-top: -80px;
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 100px;
  height: 100%;
  overflow: hidden;
}

.txt-line {
  overflow: hidden;
}

.txt-line p {
  font-size: 180px;
  text-transform: capitalize;
  letter-spacing: -10px;
  font-family: 'Ogg';
  // overflow: hidden;
  height: 100%;
  line-height: 155%;
  color: #fff;
}

.line-bottom {
  margin-top: -130px;
}

.right-side-menu {
  position: absolute;
  top: 40vh;
  text-align: right;
  right: 60px;
}

.right-side-menu p {
  font-size: 20px;
  font-family: 'Inter';
  color: #642420;
  cursor: pointer;
  font-weight: lighter;
}

.left-side-quote {
  margin-left: 120px;
}

.left-side-quote p {
  font-size: 15px;
  font-family: 'Inter';
  word-spacing: 10px;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
}

.short-about {
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #fff;
}

.main-h1-short-about {
  transform: translateY(30px);
  opacity: 0;
  transition: 0.4s;

  &.active {
    transform: translateY(0);
    opacity: 1;
  }
}

.main-sub-p-short-about {
  transform: translateY(30px);
  margin-top: 120px;
  transition: 0.4s;
  opacity: 0;

  &.active {
    transform: translateY(0);
    opacity: 1;
  }
}

.short-about h1 {
  font-size: 150px;
  font-weight: 500;
  font-family: 'Ogg';
  margin-bottom: -100px;
  letter-spacing: -2px;
  text-align: center;
}

.short-about p {
  text-align: center;
  color: #fefefe;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
}

.flower-svg {
  display: none;
  margin-left: 150px;
  margin-top: -250px;
}

.flower-svg img {
  animation: animate-rotate 30s infinite linear;
  width: 80px;
}

.another-svg {
  display: none;
  margin-top: 50px;
}

.short-about .another-svg img {
  width: 50px;
  animation: animate-rotate 10s infinite linear;
}
@keyframes animate-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.project-box-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: fit-content;
  place-items: center;
  opacity: 0;
  transition: .5s;

  &.active {
    opacity: 1;
  }
}

.project-box {
  margin: 50px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 450px;
  height: 300px;
  color: #e6e6e6;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 1.5rem;
  transition: background-color .5s cubic-bezier(.16, 1, .3, 1) ,border .5s cubic-bezier(.16, 1, .3, 1);;
  text-decoration: none;

  h1,p{
    margin: 0px 30px;
    font-family: 'Inter';
    font-weight: lighter;
  }

  h1 {
    margin-top: 35px;
    font-size: 24px;
    font-weight: bold;
  }

  p {
    margin-top: 20px;
    font-size: 13px;
    transition: color .2s;
  }
}

.project-box:hover {
  color: #161616;
  background-color: rgba(255,255,255,0.3);
  border: 1px solid #fff;
  p {
    color: #000
  }
}

.more-me {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 50vh;
  margin-left: 10%;
  margin-top: 35vh;
  margin-bottom: 100px;
  padding-bottom: 100px;
  border-bottom: 1px dashed black;

  &-text {
    display: flex;
    align-items: baseline;
  }

  &-link {
    text-decoration: none;
    color: #fff;
    font-size: 100px;
    font-weight: bold;
    font-family: 'Ogg';
    transform-origin: center;
    transform: matrix3d(0.5,0,0.00,0,0.00,-0.085,-0.98,0.001,0,0.98,-0.17,0,0,0,0,1);     
    -webkit-transform: matrix3d(0.5,0,0.00,0,0.00,-0.085,-0.98,0.001,0,0.98,-0.17,0,0,0,0,1);

  }
  img {
    display: block;
    width: 60px;
    margin-left: 16px;
    opacity: 0.5;
  }

  p {
    margin-bottom: 10vh;
    color: rgba(255, 255, 255, 0.6);
    font-size: 30px;
  }
}

@media (max-width: 1200px) {
  .txt-line p {
    font-size: 100px;
    letter-spacing: -5px;
    font-weight: 500;
  }

  .line-bottom {
    margin-top: -30px;
  }

  .flower-svg {
    display: none;
  }

  .short-about h1 {
    font-size: 100px;
    margin: 0;
    line-height: 88%;
  }

  .short-about p {
    margin-top: 5px;
    font-weight: 300;
  }

  .main-sub-p-short-about {
    margin-top: 10px;
  }

  .project-box-wrap {
    grid-template-columns: 1fr 1fr;
  }

  .project-box {
    h1 {
      font-size: 24px;
    }
  }

  .project-and-work p {
    margin-top: -30px;
  }

  .project-box {
    margin: 10px 5px;
  }
}

@media (max-width: 600px) {
  .short-about p {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .txt-line p {
    font-size: 60px;
    letter-spacing: -2px;
    font-weight: 500;
  }

  .line-bottom {
    margin-top: -120px;
  }

  .left-side-quote {
    margin-left: 10vw;
  }

  .left-side-quote p {
    font-size: 12px;
  }

  .container1 {
    padding: 0px 50px;
  }

  .project-box-wrap {
    grid-template-columns: 1fr;
  }
}